.contForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50px;
    width: 40%;
    margin: 20px;
    min-width: 300px;
    min-height: 250px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 250px;
}

.select {
    background-color: #bbb;
    border: none;
    color: #333;
    padding: 2px;
    border-radius: 5px;
    margin-top: 3px;
}

select option {
    all: unset;
}

.inputForm {
    display: flex;
    border: none;
    margin-top: 3px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: #bbb;
    color: black;
}

button { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #168328;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

button::after {
    cursor: wait;
}

label {
    display: flex;
    font-size: 15px;
    color: black;
}

form {
    width: 80%;
}