

.contForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin: auto;
    border-radius: 50px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    display: flex;
    border: none;
    margin-top: 3px;
    padding-left: 8px;
    border-radius: 5px;
    background-color: #151515;
}

button { 
    display: flex;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #47978f, #26cf42);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

label {
    display: flex;
    font-size: 15px;
    color: white;
}