.auth-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  
  .signup {
    background-color: #fff;
    border: solid 2px #168328;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  }

  .default {
    color: black;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: black;
    cursor: pointer;
  }

