.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 85%;
}

.mensagem {
    margin: 20px;
    font-size: 28px;
    color: #168328;
}

.error {
    color: #168328;
    margin-top: 20px;
    font-weight: bold;
    font-size: 70px;
}