a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .nav-links {
    justify-content: center;
    margin-top: 10px;
  }

  .auth-buttons {
    justify-content: center;
    margin-top: 10px;
  }
}