.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto;
    border-radius: 50px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto p {
    margin: 20px;
}

.texto h2 {
    margin-top: 20px;
}